* {
    color: white;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    background: black;
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 1.5em;
}

p, li, details {
    font-size: .8rem;
}

.highlight {
    color: aquamarine;
}

.sub-highlight {
    color: #c8c8c8;
    margin: 2px 0;
    font-size: .6em;
}

.container {
    margin-top: 15px;
}

.sub-container {
    margin: 15px 0;
    padding-left: 15px;
    border-left: 2px solid #323232;
}

#links {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
}

#links .fab{
    font-size: 1.2em;
    margin-right: 10px;
}

#links > a:last-child {
    font-size: 0.85em;
}

.externalLink {
    text-decoration: none;
    text-align: right;
    flex-basis: 100%;
}

#links .fab:hover, .externalLink:hover {
    color: aquamarine;
}

#welcome {
    margin-bottom: 25px;
}

#skills > #badges {
    margin-top: 10px;
}

#skills > #badges> i {
    margin-right: 5px;
}

#work li{
    margin: 5px 0;
}

#description, details {
    padding-left: 20px;
}

#classes > h4 {
    margin-bottom: 3px;
}