* {
    color: white;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    background: black;
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 1.5em;
}

p, li, details {
    font-size: .8rem;
}

span.emoji {
    font-size: 1.5em;
}

.highlight {
    color: aquamarine;
}

.sub-highlight {
    color: #c8c8c8;
    margin: 2px 0;
    font-size: .6em;
}

.container {
    margin: 25px 0 25px 0;
}

.sub-container {
    margin: 15px 0;
    padding-left: 15px;
    border-left: 2px solid #323232;
}

#links {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
}

#links .fab{
    font-size: 1.3em;
    margin-right: 10px;
}

#links > a:last-child {
    font-size: 0.85em;
    margin-left: auto;;
    color: white;

}

#links .fab:hover {
    color: #FF7FAA;
    text-decoration: none;
}

#links > a:hover {
    color: #FF7FAA;
}

.externalLink {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #FF7FAA;
}

.fab:hover, .externalLink:hover {
    border-bottom: 2px solid;
}

#welcome {
    margin-bottom: 25px;
}

#skills > #techSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills > #techSkills > div {
}

#skills > #techSkills > div > h4 {
    margin-bottom: 3px;
}

#work li{
    margin: 5px 0;
}

#description, details {
    padding-left: 20px;
}

#classes > h4 {
    margin-bottom: 3px;
}

@media only screen and (max-width: 620px) {
    #skills > #techSkills {
        flex-direction: column;
    }

    #skills > #techSkills > div {
        margin-bottom: 15px;
    }
}